.SettingsView {
  width: 100%;
  padding: 7.5rem 5rem 3rem;
  display: flex;
  gap: 2rem;
  font-family: Arial, sans-serif;
  min-height: 40vh;
}
.SettingsView .options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  list-style: none;
}
.SettingsView .options li {
  padding: 10px 0;
  cursor: pointer;
  color: rgba(66, 65, 65, 0.699);
  font-weight: bold;
  width: -moz-fit-content;
  width: fit-content;
}
.SettingsView .options li.active {
  color: #004c3f;
}
.SettingsView .options li:hover {
  color: rgba(0, 76, 63, 0.662745098);
}
.SettingsView .actions {
  height: -moz-fit-content;
  height: fit-content;
  flex: 2;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.SettingsView .actions .change-pswrd {
  outline: 1px solid rgba(128, 128, 128, 0.596);
  border-radius: 3px;
}
.SettingsView .actions .change-pswrd h3 {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  padding: 1.5rem 2rem;
}
.SettingsView .actions .change-pswrd .content {
  padding: 1rem 2rem 2rem;
}
.SettingsView .actions .change-pswrd .content input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  outline: 1px solid #ccc;
  border: none;
  border-radius: 3px;
}
.SettingsView .actions .change-pswrd .content input:focus {
  outline: 2px solid #02947c;
}
.SettingsView .actions .change-pswrd .content button {
  background-color: rgba(0, 76, 63, 0.862745098);
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.SettingsView .actions .change-pswrd .content button:hover {
  background-color: #004c3f;
}
.SettingsView .actions .logout-all,
.SettingsView .actions .delete-acc {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.SettingsView .actions .logout-all .box,
.SettingsView .actions .delete-acc .box {
  width: 25rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 3px 3px 15px black;
}
.SettingsView .actions .logout-all .box p,
.SettingsView .actions .delete-acc .box p {
  text-align: left;
  color: rgb(105, 104, 104);
  font-size: 15px;
}
.SettingsView .actions .logout-all .box .buttons,
.SettingsView .actions .delete-acc .box .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.SettingsView .actions .logout-all .box .buttons button,
.SettingsView .actions .delete-acc .box .buttons button {
  width: 50%;
  padding: 0.75rem 1rem;
  color: #02241e;
  font-weight: bold;
  outline: none;
  border: 4px solid #002b36;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: white;
}
.SettingsView .actions .logout-all .box .buttons button.proceed,
.SettingsView .actions .delete-acc .box .buttons button.proceed {
  background-color: #002b36;
  color: white;
  margin-right: 0.5rem;
}
.SettingsView .actions .logout-all .box .buttons button.proceed:hover,
.SettingsView .actions .delete-acc .box .buttons button.proceed:hover {
  background-color: white;
  color: #002b36;
  border: 4px solid rgba(155, 5, 5, 0.808);
}
.SettingsView .actions .logout-all .box .buttons button:hover,
.SettingsView .actions .delete-acc .box .buttons button:hover {
  background-color: rgba(202, 192, 192, 0.753);
  color: #004c3f;
}
.SettingsView .actions .chat-safety {
  outline: 1px solid rgba(128, 128, 128, 0.596);
  border-radius: 3px;
}
.SettingsView .actions .chat-safety h3 {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.363);
  padding: 1rem 2rem;
}
.SettingsView .actions .chat-safety .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 1rem 2rem;
}
.SettingsView .actions .chat-safety .content .setting-info strong {
  color: #02241e;
}
.SettingsView .actions .chat-safety .content .setting-info p {
  margin: 5px 0;
  color: gray;
}
.SettingsView .actions .chat-safety .content .toggle {
  position: relative;
  width: 40px;
  height: 20px;
  display: inline-block;
}
.SettingsView .actions .chat-safety .content .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.SettingsView .actions .chat-safety .content .toggle input:checked + .slider:before {
  transform: translateX(20px);
}
.SettingsView .actions .chat-safety .content .toggle input:checked + .slider {
  background-color: #002b36;
}
.SettingsView .actions .chat-safety .content .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.3s;
}
.SettingsView .actions .chat-safety .content .toggle .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.SettingsView .actions .nothing {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SettingsView .actions .nothing i {
  scale: 10;
}

@media (max-width: 767px) {
  .SettingsView {
    flex-direction: column;
    padding: 10rem 1rem 3rem;
    min-height: unset;
  }
  .SettingsView .options {
    text-align: center;
    padding: 1rem;
  }
  .SettingsView .actions {
    width: 100%;
  }
  .SettingsView .actions .logout-all .box,
  .SettingsView .actions .delete-acc .box {
    margin: 0 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .SettingsView {
    padding: 11rem 2rem 3rem;
  }
}/*# sourceMappingURL=SettingsView.css.map */