.Posts {
  margin-top: 1.25rem;
  background: rgba(235, 238, 239, 1);
  padding: 1.5rem;

  &.related-items {
    margin-top: 0;
    padding: 1rem;

    .cards {
      padding: .5rem;
      display: flex;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .card {
        min-width: 17.5rem;
      }
    }
  }

  .heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

    .card {
      border: 1px solid #b9b8b8;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;

      &:hover {
        transform: translateY(-5px);
      }

      i {
        position: absolute;
        top: .85rem;
        right: .85rem;
        transition: transform .25s ease-in-out;
        cursor: pointer;
        color: rgb(189, 175, 175);
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
        font-size: 1.25rem;

        &:hover {
          transform: scale(1.2);
          color: rgb(158, 141, 141);
        }
      }

      .image {
        padding: 7.5px;
        border-bottom: .5px solid #b9b8b879;

        img {
          width: 100%;
          height: 10rem;
          object-fit: cover;
          border-radius: 5px 5px 0 0;
        }
      }

      .content {
        flex-grow: 1;
        padding: 10px;

        .rate {
          font-size: 18px;
          font-weight: bold;
          color: #000;
          margin-bottom: 5px;
        }

        .kilometer {
          font-size: 14px;
          color: #555;
          margin-bottom: 5px;
        }

        .name {
          font-size: 16px;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .place-date {
        padding: 10px;
        border-top: 1px solid #e0e0e0;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: #777;

        .place {
          flex: 1;
        }

        .date {
          flex: 0;
        }
      }
    }
  }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:1024px) {
  .Posts {
    .cards {
      .card {
        .image {
          img {
            height: 12.5rem;
          }
        }
      }
    }
  }
}