.postParentDiv {
  width: 100%;

  .moreView {
    margin: 16px 16px 24px;
    padding: 16px 16px 32px;
    background-color: #ebeeef;
    border-radius: 4px;

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      :first-child {
        font-size: 24px;
        color: #002f34;
      }

      :last-child {
        font-size: 14px;
        color: #002f34;
      }
    }

    .cards {
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;

      .card {
        margin-right: 15px;
        margin-top: 0.5rem;
        padding: 13px;
        max-width: 222px;
        width: 14rem;
        height: 19rem;
        display: inline-block;
        cursor: pointer;

        .favorite {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        .image {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 100px;
            max-width: 100%;
            max-height: 100%;
            min-height: 100%;
            text-align: center;
          }
        }

        .content {
          .rate {
            margin-top: 10px;
            font-size: larger;
            font-weight: bold;
          }

          .kilometer {
            font-size: medium;
          }

          .name {
            font-size: small;
          }
        }

        .date {
          display: flex;
          justify-content: flex-end;
          font-size: small;
        }
      }
    }
  }

  .recommendations {
    margin: 16px 16px 24px;

    .heading {
      span {
        font-size: 24px;
        color: #002f34;
      }
    }

    .cards {
      display: flex;

      .card {
        margin-right: 15px;
        margin-top: 0.5rem;
        padding: 13px;
        max-width: 222px;
        width: 14rem;
        height: 19rem;
        display: inline-block;
        cursor: pointer;

        .image {
          img {
            width: 10rem; //Temp
            height: 10rem; //Temp
          }
        }
      }
    }
  }
}


// MEDIA-QUERIRES RESPONSIVENESS
// Add this to Post.scss
@media only screen and (max-width: 700px) {
  .postParentDiv {
    .moreView {
      margin: 8px;
      padding: 8px;

      .heading {
        flex-direction: column;
        align-items: flex-start;
      }

      .cards {
        .card {
          width: 80%; // Make cards more responsive
          margin-right: 8px;
        }
      }
    }

    .recommendations {
      margin: 8px;

      .cards {
        flex-wrap: wrap;

        .card {
          width: 80%;
        }
      }
    }
  }
}