.PostAdList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 4rem;
    min-height: 100vh;

    .navigate {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        padding: 2rem;
        background-color: #55555531;

        i {
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;

            &:hover {
                background-color: #c7c3c3;
            }
        }

        p {
            margin: 0 1rem;
            font-size: 20px;
        }
    }

    .category-box {
        width: 45%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background: white;
        background-color: #f3f4f6;
        outline: .5px solid rgb(194, 184, 184);
        max-width: 100%;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;

        .category-header {
            border-bottom: 1px solid #aca9a9;
            padding-bottom: 8px;
            font-weight: 600;
            color: #333;

            h2 {
                font-weight: bold;
                text-align: center;
                margin-bottom: 10px;
                font-size: 1.5rem;
            }

            h4 {
                font-weight: 500;
            }
        }

        .lists {
            display: flex;
            flex-grow: 1;

            .category-list {
                list-style: none;
                margin: 0;
                width: 50%;
                height: 100%;
                border-right: 2px solid #ddd;

                li {
                    list-style: none;
                    width: 100%;
                    text-align: left;
                    padding: .75rem;
                    background: none;
                    border: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 1rem;
                    cursor: pointer;
                    color: #333;
                    transition: background 0.3s;

                    span {
                        margin-left: 2rem;
                    }

                    &:hover {
                        background-color: #bbb4b493;
                    }

                    &.active {
                        background-color: #bbb4b4;
                    }
                }
            }

            .subcategory-list {
                width: 50%;
                height: 100%;
                list-style: none;
                margin: 0;
                border-left: 2px solid #ddd;

                li {
                    font-size: 0.9rem;
                    padding: .75rem;
                    color: #555;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #bbb4b493;
                    }
                }
            }
        }
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width: 767px) {
    .PostAdList {
        gap: 3rem;

        .category-box {
            width: 95%;

            .category-header {
                h2 {
                    font-size: 1.25rem;
                }

                h4 {
                    font-size: .75rem;
                }
            }

            .lists {

                .category-item {
                    font-size: 0.9rem;
                    padding: 10px;

                    li {
                        font-size: .75rem;
                    }
                }

                .subcategory-item {
                    font-size: 0.85rem;
                    padding: 6px 10px;
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .PostAdList {
        gap: 7rem;

        .navigate {
            height: 7.5rem;

            i {
                padding: .75rem;
                font-size: 1.5rem;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .category-box {
            width: 75%;
        }
    }
}