.Listing {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.Listing .navigate {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: rgba(85, 85, 85, 0.1921568627);
}
.Listing .navigate i {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.Listing .navigate i:hover {
  background-color: #c7c3c3;
}
.Listing .navigate p {
  margin: 0 1rem;
  font-size: 20px;
}
.Listing .details {
  outline: 1px solid gray;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}
.Listing .details h3 {
  padding: 2rem 2rem;
  border-bottom: 1px solid gray;
}
.Listing .details form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.Listing .details form .input-section {
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.Listing .details form .input-section h4 {
  color: #333;
}
.Listing .details form .input-section .input-field {
  width: 50%;
}
.Listing .details form .input-section .input-field label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 4px;
}
.Listing .details form .input-section .input-field input,
.Listing .details form .input-section .input-field textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.85rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}
.Listing .details form .input-section .input-field input:focus,
.Listing .details form .input-section .input-field textarea:focus {
  border-color: #007bff;
}
.Listing .details form .input-section .input-field textarea {
  height: 7.5rem;
  resize: vertical;
}
.Listing .details form .input-section .input-field p {
  font-size: 0.75rem;
}
.Listing .details form .input-section .input-field .radios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 10px;
}
.Listing .details form .input-section .input-field .radios label {
  font-size: 10px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
}
.Listing .details form .input-section .input-field .radios label input {
  font-size: 5px;
  padding: 0;
  height: 15px;
  cursor: pointer;
}
.Listing .details form .input-section .input-field.price-input .price-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.Listing .details form .input-section .input-field.price-input .price-input-wrapper .currency-symbol {
  position: absolute;
  left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #555353;
}
.Listing .details form .input-section .input-field.price-input .price-input-wrapper input {
  padding-left: 2.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.Listing .details form .input-section .input-field .images-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.Listing .details form .input-section .input-field .images-grid .image-item {
  border: 2px solid #ccc;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  height: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 6rem;
}
.Listing .details form .input-section .input-field .images-grid .image-item img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Listing .details form .input-section .input-field .images-grid .image-item p {
  flex-grow: 1;
  padding: 4px 2px;
  transition: all ease-in-out 0.4s;
}
.Listing .details form .input-section .input-field .images-grid .image-item p:hover {
  background-color: rgba(0, 123, 255, 0.3843137255);
}
.Listing .details form .input-section .input-field .images-grid .image-item.cover p {
  background-color: rgba(0, 123, 255, 0.7803921569);
}
.Listing .details form .input-section .input-field .images-grid .image-item.add-photo {
  background: #f5f5f5;
  border: 2px dashed rgba(67, 169, 209, 0.836);
}
.Listing .details form .input-section .input-field .images-grid .image-item i {
  position: absolute;
  right: 5px;
  padding: 4px;
  background-color: rgba(105, 92, 92, 0.486);
  top: 5px;
  border-radius: 2px;
  transition: transform ease-in-out 0.3s;
}
.Listing .details form .input-section .input-field .images-grid .image-item i:hover {
  transform: rotate(90deg);
  background-color: rgba(163, 7, 7, 0.658);
}
.Listing .details form .input-section .contact-infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Listing .details form .input-section .contact-infos .name-photo {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.Listing .details form .input-section .contact-infos .name-photo img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  outline: 0.25rem outset skyblue;
}
.Listing .details form .input-section .contact-infos .name-photo .name-input {
  flex-grow: 1;
}
.Listing .details form .input-section .contact-infos .phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}
.Listing .details form .input-section .submit-btn {
  padding: 0.75rem 1rem;
  width: 10rem;
  font-weight: bold;
  background-color: rgba(67, 169, 209, 0.836);
  border-radius: 5px;
  border: 0.5px solid gray;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.Listing .details form .input-section .submit-btn:hover {
  background-color: rgb(13, 155, 211);
}

@media screen and (max-width: 767px) {
  .Listing .details {
    width: 95%;
  }
  .Listing .details form .input-section .contact-infos,
  .Listing .details form .input-section .input-field {
    width: 100%;
  }
  .Listing .details form .input-section .contact-infos .images-grid,
  .Listing .details form .input-section .input-field .images-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .Listing .details {
    width: 70%;
  }
  .Listing .details form .input-section .contact-infos,
  .Listing .details form .input-section .input-field {
    width: 70%;
  }
  .Listing .details form .input-section .contact-infos .images-grid,
  .Listing .details form .input-section .input-field .images-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .Listing .details form .input-section .contact-infos .images-grid .image-item,
  .Listing .details form .input-section .input-field .images-grid .image-item {
    height: 7rem;
  }
}/*# sourceMappingURL=ListingForm.css.map */