.ProfileOptions {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
    border-radius: 2px;
    list-style: none;
    position: absolute;
    top: 120%;
    right: -30px;
    background-color: white;
    width: 18rem;
    display: none;
    transition: transform ease-in-out .3s;
    z-index: 1;

    &.mobile {
        display: none;
    }

    .view-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-bottom: 1px solid #014b53;

        .info {
            display: flex;
            gap: 20px;
            align-items: center;
            justify-content: center;
            padding: .5rem 0;

            h2 {
                text-decoration: none;
                color: white;
                background-color: #002b30;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        button {
            width: 100%;
            color: white;
            padding: 7px;
            font-weight: 700;
            border: 5px solid #002b30;
            background-color: #002b30;
            cursor: pointer;
            transition: background-color .3s ease-in-out;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    li {
        width: 100%;
        padding: .5rem;
        cursor: pointer;
        background-color: white;
        display: flex;
        align-items: center;

        i {
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &:hover {
            background-color: rgba(211, 205, 205, 0.795);
        }
    }

    .pointer {
        position: absolute;
        rotate: 45deg;
        top: -10px;
        right: 15%;
        background-color: white;
        box-shadow: -10px -10px 15px rgba(0, 0, 0, 0.3);
        z-index: 2;
        width: 20px;
        height: 20px;
        overflow: hidden;
    }
}


// MEDIA-QUERIES RESPONSIVENESS
@media screen and (max-width:767px) {
    .ProfileOptions {
        position: fixed;

        &.mobile {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-top: 2.5rem;
            width: unset;
            display: unset;
            transform: translateY(-150%);
            transition: transform 0.75s ease-in-out;
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                padding: 1rem;
            }
        }
    }
}