.ViewItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 5rem 2rem 2rem;
  min-height: 100vh;
  background: rgb(208, 214, 216);
  color: rgba(36, 34, 34, 0.952);

  .imageSection {
    width: 100%;
    height: 70vh;
    padding: 0 3rem;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;

    button {
      position: absolute;
      padding: 1.75rem 1rem;
      top: 50%;
      transform: translateY(-50%);
      background-color: #6e7b7c;
      color: black;
      border: none;
      outline: none;
      border-radius: 7.5px;
      cursor: pointer;
      transition: background-color .2s ease-in-out;

      i {
        transform: scale(1.35);
      }

      &.prev {
        left: 1rem;
      }

      &.next {
        right: 1rem;
      }

      &.share {
        top: 2rem;
        right: 2rem;
        background-color: transparent;
        color: white;
        padding: 0;

        i {
          transform: scale(2);
          text-shadow:
            2px 2px 3px rgba(0, 0, 0, 0.3),
            -2px 2px 3px rgba(0, 0, 0, 0.3),
            2px -2px 3px rgba(0, 0, 0, 0.3),
            -2px -2px 3px rgba(0, 0, 0, 0.3);
        }
      }

      &.wishlist {
        top: 2rem;
        right: 5rem;
        background-color: transparent;
        color: white;
        padding: 0;

        i {
          transform: scale(2);
          text-shadow:
            2px 2px 3px rgba(0, 0, 0, 0.3),
            -2px 2px 3px rgba(0, 0, 0, 0.3),
            2px -2px 3px rgba(0, 0, 0, 0.3),
            -2px -2px 3px rgba(0, 0, 0, 0.3);
        }
      }

      &:hover {
        background-color: #3e4242;
        color: rgb(190, 185, 185);
      }
    }

    img {
      object-fit: contain;
      width: 100%;
    }
  }

  .productInfos {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    border-radius: 5px;

    .details,
    .price {
      background-color: white;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: .5rem;
      border-radius: 5px;
    }

    .details {
      position: relative;

      img {
        height: 2rem;
        width: fit-content;
        object-fit: contain;
        border-radius: 5px;
        outline: 2px solid rgba(0, 0, 0, 0.274);
      }

      h3 {
        font-weight: bold;
      }

      h2 {
        font-weight: 400;
      }

      .features {
        width: 100%;
        padding: .75rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        color: #6e7b7c;

        .feature {
          display: flex;
          gap: 10px;
        }
      }

      #date-place {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }

    .price {
      color: #033136;

      h1 {
        font-size: 3rem;
      }

      p {
        color: black;
        font-weight: 500;
        font-size: 1.2rem;
      }

      button {
        padding: .75rem 1rem;
        background-color: #002f34;
        color: white;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        border: .3rem solid #002f34;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .otherDetails {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;

    .overview,
    .sellerDetails,
    .description,
    .mapView {
      background-color: white;
      border-radius: 5px;
    }

    .overview {
      h3 {
        width: 100%;
        padding: 1.5rem 2rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.37);
      }

      .items {
        display: flex;
        justify-content: space-around;
        padding: 1.5rem;
        gap: .5rem;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          min-width: calc(100% / 4);
          background-color: rgba(235, 231, 231, 0.466);
          border-radius: 5px;
          padding: 10px;

          i {
            font-size: 1.75rem;
          }

          p {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            span {
              font-weight: bolder;
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .sellerDetails {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;

      .name-photo {
        width: 100%;
        display: flex;
        gap: 2rem;
        flex-direction: row;
        align-items: center;
        margin-left: 2rem;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
          border: 1px solid skyblue;
          object-fit: cover;
        }
      }

      .phone {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        h4 {
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            color: rgba(56, 54, 54, 0.733);
          }
        }
      }

      button {
        width: 100%;
        padding: .5rem 1rem;
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        border: .3rem double #002f34;

        &:hover {
          border: .3rem solid #002f34;
        }
      }
    }

    .description {
      grid-column: 1/3;

      h3 {
        padding: 1.5rem 2rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.37);
      }

      p {
        padding: 2rem;
      }
    }

    .related-items {
      grid-column: 1/2;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .mapView {
      display: flex;
      align-items: center;
      padding: 1rem;
      grid-column: 2/3;

      iframe {
        border: 3px solid rgba(135, 207, 235, 0.459);
        outline: none;
      }
    }
  }
}


// MEDIA-QUERIES RESPONSIVENESS
@media (max-width: 1024px) {
  .ViewItem {
    padding: 9rem 2rem 1.5rem;
    gap: .75rem;

    .imageSection {
      height: 50vh;

      button {
        i {
          transform: scale(1);
        }

        &.prev {
          left: 2rem;
        }

        &.next {
          right: 2rem;
        }

        &.share {
          top: 2.5rem;
          right: 3rem;

          i {
            transform: scale(2.5);
          }
        }

        &.wishlist {
          top: 2.5rem;
          right: 7.5rem;

          i {
            transform: scale(2.5);
          }
        }
      }
    }

    .productInfos {
      grid-template-columns: 1fr;
      gap: .75rem;

      .price {
        gap: .75rem;

        p {
          font-size: 1.25rem;
        }
      }
    }

    .otherDetails {
      grid-template-columns: 1fr 1fr;
      gap: .75rem;

      .overview {
        .items {
          padding: 1rem;

          .item {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            i {
              font-size: 1.25rem;
            }

            p {
              font-size: 10px;
              align-items: center;

              span {
                font-size: 12.5px;
              }
            }
          }
        }
      }
    }

    .related-items {
      grid-column: 1/2;
    }

    .mapView {
      grid-column: 2/3;
    }
  }
}

@media (max-width: 767px) {
  .ViewItem {
    padding: 10rem 1rem 1rem;

    .imageSection {
      height: 40vh;
      padding: 0;

      button {
        padding: .75rem .5rem;

        i {
          transform: scale(1);
        }

        &.prev {
          left: .5rem;
        }

        &.next {
          right: .5rem;
        }

        &.share {
          top: 1.5rem;
          right: 1rem;

          i {
            transform: scale(1.5);
          }
        }

        &.wishlist {
          top: 1.5rem;
          right: 3rem;

          i {
            transform: scale(1.5);
          }
        }
      }
    }

    .productInfos {
      grid-template-columns: 1fr;

      .details {
        .features {
          gap: 1rem;
          justify-content: space-between;

          .feature {
            h4 {
              font-size: 1rem;
            }
          }
        }
      }

      .price {
        p {
          font-size: 1rem;
        }

        button {
          font-size: 0.875rem;
          padding: 0.5rem;
        }
      }
    }

    .otherDetails {
      grid-template-columns: 1fr;
      gap: 0.5rem;

      .overview {
        width: 100%;
        grid-column: 1/3;

        .items {
          padding: 1rem;

          .item {
            flex-direction: column;
            justify-content: center;
            text-align: center;

            i {
              font-size: 1.25rem;
            }

            p {
              font-size: 10px;
              align-items: center;

              span {
                font-size: 12.5px;
              }
            }
          }
        }
      }

      .sellerDetails {
        grid-column: 1/3;

        .name-photo {
          img {
            width: 3rem;
            height: 3rem;
          }
        }
      }

      .related-items {
        grid-column: 1/3;
        order: 5;
      }

      .mapView {
        grid-column: 1/3;

        iframe {
          height: 200px;
        }
      }
    }
  }
}