.ViewItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 5rem 2rem 2rem;
  min-height: 100vh;
  background: rgb(208, 214, 216);
  color: rgba(36, 34, 34, 0.952);
}
.ViewItem .imageSection {
  width: 100%;
  height: 70vh;
  padding: 0 3rem;
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}
.ViewItem .imageSection button {
  position: absolute;
  padding: 1.75rem 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #6e7b7c;
  color: black;
  border: none;
  outline: none;
  border-radius: 7.5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.ViewItem .imageSection button i {
  transform: scale(1.35);
}
.ViewItem .imageSection button.prev {
  left: 1rem;
}
.ViewItem .imageSection button.next {
  right: 1rem;
}
.ViewItem .imageSection button.share {
  top: 2rem;
  right: 2rem;
  background-color: transparent;
  color: white;
  padding: 0;
}
.ViewItem .imageSection button.share i {
  transform: scale(2);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.3), 2px -2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.3);
}
.ViewItem .imageSection button.wishlist {
  top: 2rem;
  right: 5rem;
  background-color: transparent;
  color: white;
  padding: 0;
}
.ViewItem .imageSection button.wishlist i {
  transform: scale(2);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3), -2px 2px 3px rgba(0, 0, 0, 0.3), 2px -2px 3px rgba(0, 0, 0, 0.3), -2px -2px 3px rgba(0, 0, 0, 0.3);
}
.ViewItem .imageSection button:hover {
  background-color: #3e4242;
  color: rgb(190, 185, 185);
}
.ViewItem .imageSection img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.ViewItem .productInfos {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  border-radius: 5px;
}
.ViewItem .productInfos .details,
.ViewItem .productInfos .price {
  background-color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  border-radius: 5px;
}
.ViewItem .productInfos .details {
  position: relative;
}
.ViewItem .productInfos .details img {
  height: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  outline: 2px solid rgba(0, 0, 0, 0.274);
}
.ViewItem .productInfos .details h3 {
  font-weight: bold;
}
.ViewItem .productInfos .details h2 {
  font-weight: 400;
}
.ViewItem .productInfos .details .features {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  color: #6e7b7c;
}
.ViewItem .productInfos .details .features .feature {
  display: flex;
  gap: 10px;
}
.ViewItem .productInfos .details #date-place {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.ViewItem .productInfos .price {
  color: #033136;
}
.ViewItem .productInfos .price h1 {
  font-size: 3rem;
}
.ViewItem .productInfos .price p {
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}
.ViewItem .productInfos .price button {
  padding: 0.75rem 1rem;
  background-color: #002f34;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: 0.3rem solid #002f34;
}
.ViewItem .productInfos .price button:hover {
  background-color: white;
  color: black;
}
.ViewItem .otherDetails {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}
.ViewItem .otherDetails .overview,
.ViewItem .otherDetails .sellerDetails,
.ViewItem .otherDetails .description,
.ViewItem .otherDetails .mapView {
  background-color: white;
  border-radius: 5px;
}
.ViewItem .otherDetails .overview h3 {
  width: 100%;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
.ViewItem .otherDetails .overview .items {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  gap: 0.5rem;
}
.ViewItem .otherDetails .overview .items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 25%;
  background-color: rgba(235, 231, 231, 0.466);
  border-radius: 5px;
  padding: 10px;
}
.ViewItem .otherDetails .overview .items .item i {
  font-size: 1.75rem;
}
.ViewItem .otherDetails .overview .items .item p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ViewItem .otherDetails .overview .items .item p span {
  font-weight: bolder;
  font-size: 1.5rem;
}
.ViewItem .otherDetails .sellerDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
.ViewItem .otherDetails .sellerDetails .name-photo {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}
.ViewItem .otherDetails .sellerDetails .name-photo img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid skyblue;
  -o-object-fit: cover;
     object-fit: cover;
}
.ViewItem .otherDetails .sellerDetails .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.ViewItem .otherDetails .sellerDetails .phone h4 {
  cursor: pointer;
  text-decoration: underline;
}
.ViewItem .otherDetails .sellerDetails .phone h4:hover {
  color: rgba(56, 54, 54, 0.733);
}
.ViewItem .otherDetails .sellerDetails button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: 0.3rem double #002f34;
}
.ViewItem .otherDetails .sellerDetails button:hover {
  border: 0.3rem solid #002f34;
}
.ViewItem .otherDetails .description {
  grid-column: 1/3;
}
.ViewItem .otherDetails .description h3 {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}
.ViewItem .otherDetails .description p {
  padding: 2rem;
}
.ViewItem .otherDetails .related-items {
  grid-column: 1/2;
  overflow: scroll;
}
.ViewItem .otherDetails .related-items::-webkit-scrollbar {
  display: none;
}
.ViewItem .otherDetails .mapView {
  display: flex;
  align-items: center;
  padding: 1rem;
  grid-column: 2/3;
}
.ViewItem .otherDetails .mapView iframe {
  border: 3px solid rgba(135, 207, 235, 0.459);
  outline: none;
}

@media (max-width: 1024px) {
  .ViewItem {
    padding: 9rem 2rem 1.5rem;
    gap: 0.75rem;
  }
  .ViewItem .imageSection {
    height: 50vh;
  }
  .ViewItem .imageSection button i {
    transform: scale(1);
  }
  .ViewItem .imageSection button.prev {
    left: 2rem;
  }
  .ViewItem .imageSection button.next {
    right: 2rem;
  }
  .ViewItem .imageSection button.share {
    top: 2.5rem;
    right: 3rem;
  }
  .ViewItem .imageSection button.share i {
    transform: scale(2.5);
  }
  .ViewItem .imageSection button.wishlist {
    top: 2.5rem;
    right: 7.5rem;
  }
  .ViewItem .imageSection button.wishlist i {
    transform: scale(2.5);
  }
  .ViewItem .productInfos {
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
  .ViewItem .productInfos .price {
    gap: 0.75rem;
  }
  .ViewItem .productInfos .price p {
    font-size: 1.25rem;
  }
  .ViewItem .otherDetails {
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
  }
  .ViewItem .otherDetails .overview .items {
    padding: 1rem;
  }
  .ViewItem .otherDetails .overview .items .item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .ViewItem .otherDetails .overview .items .item i {
    font-size: 1.25rem;
  }
  .ViewItem .otherDetails .overview .items .item p {
    font-size: 10px;
    align-items: center;
  }
  .ViewItem .otherDetails .overview .items .item p span {
    font-size: 12.5px;
  }
  .ViewItem .related-items {
    grid-column: 1/2;
  }
  .ViewItem .mapView {
    grid-column: 2/3;
  }
}
@media (max-width: 767px) {
  .ViewItem {
    padding: 10rem 1rem 1rem;
  }
  .ViewItem .imageSection {
    height: 40vh;
    padding: 0;
  }
  .ViewItem .imageSection button {
    padding: 0.75rem 0.5rem;
  }
  .ViewItem .imageSection button i {
    transform: scale(1);
  }
  .ViewItem .imageSection button.prev {
    left: 0.5rem;
  }
  .ViewItem .imageSection button.next {
    right: 0.5rem;
  }
  .ViewItem .imageSection button.share {
    top: 1.5rem;
    right: 1rem;
  }
  .ViewItem .imageSection button.share i {
    transform: scale(1.5);
  }
  .ViewItem .imageSection button.wishlist {
    top: 1.5rem;
    right: 3rem;
  }
  .ViewItem .imageSection button.wishlist i {
    transform: scale(1.5);
  }
  .ViewItem .productInfos {
    grid-template-columns: 1fr;
  }
  .ViewItem .productInfos .details .features {
    gap: 1rem;
    justify-content: space-between;
  }
  .ViewItem .productInfos .details .features .feature h4 {
    font-size: 1rem;
  }
  .ViewItem .productInfos .price p {
    font-size: 1rem;
  }
  .ViewItem .productInfos .price button {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
  .ViewItem .otherDetails {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .ViewItem .otherDetails .overview {
    width: 100%;
    grid-column: 1/3;
  }
  .ViewItem .otherDetails .overview .items {
    padding: 1rem;
  }
  .ViewItem .otherDetails .overview .items .item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .ViewItem .otherDetails .overview .items .item i {
    font-size: 1.25rem;
  }
  .ViewItem .otherDetails .overview .items .item p {
    font-size: 10px;
    align-items: center;
  }
  .ViewItem .otherDetails .overview .items .item p span {
    font-size: 12.5px;
  }
  .ViewItem .otherDetails .sellerDetails {
    grid-column: 1/3;
  }
  .ViewItem .otherDetails .sellerDetails .name-photo img {
    width: 3rem;
    height: 3rem;
  }
  .ViewItem .otherDetails .related-items {
    grid-column: 1/3;
    order: 5;
  }
  .ViewItem .otherDetails .mapView {
    grid-column: 1/3;
  }
  .ViewItem .otherDetails .mapView iframe {
    height: 200px;
  }
}/*# sourceMappingURL=ViewItem.css.map */