.viewParentDiv {
  padding-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;

  .imageShowDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 70vw;

    img {
      margin-top: 3rem;
      width: 27.5rem;
      height: 27.5rem;
    }
  }

  .rightSection {
    padding: 16px;
    margin-top: 1rem;
    margin-right: 2rem;
    width: 30vw;

    .productDetails {
      border: 1px solid black;
      padding: 6px;
      border-radius: 6px;
      margin-bottom: 2em;
      width: 100%;

      :first-child {
        font-weight: 700;
        margin-bottom: 8px;
        color: #002f34;
        font-size: 34px;
        line-height: 32px;
        margin-bottom: 20px;
      }
    }

    .contactDetails {
      border: 1px solid black;
      padding: 6px;
      border-radius: 6px;

      :first-child {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #002f34;
        padding: 0;
      }
    }
  }
}