.Header {
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 6fr;
    gap: 1rem;

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 3;

        .fa-bars {
            display: none;
        }

        .brandName {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .placeSearch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 0 .5rem;
        border: 2px solid #002f34;
        border-radius: 4px;
        background-color: white;

        i {
            cursor: pointer;
            margin: 0 2.5px;
        }

        input {
            border: none;
            outline: none;
            flex-grow: 1;
            height: 100%;
        }
    }

    .productSearch {
        border: 2px solid #002f34;
        border-radius: 4px;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: space-between;
        z-index: -1;

        .input {
            width: 100%;
            height: 100%;
            display: flex;

            input {
                border: none;
                outline: none;
                width: 100%;
                align-items: center;
                padding: 0 1rem;
                font-size: 17px;

                &:focus {
                    border: 1px solid black;
                }
            }
        }

        .searchAction {
            min-width: 48px;
            height: 48px;
            position: relative;
            display: flex;
            cursor: pointer;
            background-color: #002f34;
            border-radius: 0 4px 4px 0;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                fill: white;
            }
        }
    }

    .right-section {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: space-between;

        .language {
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            span {
                font-size: 15px;
                white-space: normal;
                text-overflow: ellipsis;
                font-weight: bolder;
                margin-right: 5px;
            }

            &.active {
                .options {
                    display: unset;
                }

                .fa-angle-down {
                    transform: rotate(-180deg);
                }
            }

            .fa-angle-down {
                transition: transform ease-in-out .3s;
            }

            .options {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
                border-radius: 2px;
                list-style: none;
                position: absolute;
                top: 140%;
                right: -5px;
                background-color: white;
                width: 10rem;
                display: none;
                transition: transform ease-in-out .3s;

                li {
                    width: 100%;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: white;
                    font-size: 15px;
                    font-weight: 500;

                    &:hover {
                        background-color: rgba(211, 205, 205, 0.795);
                    }
                }

                .pointer {
                    position: absolute;
                    rotate: 45deg;
                    top: -10px;
                    right: 15%;
                    background-color: white;
                    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
                    z-index: -1;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        i {
            cursor: pointer;
            padding: 10px;

            &:active {
                background-color: #6f9ca146;
                border-radius: 50%;
            }
        }

        .notifications {
            height: 48px;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            &.active {
                i {
                    background-color: #6f9ca146;
                }

                .messgs {
                    display: unset;
                }
            }

            i {
                padding: 10px;
                border-radius: 50%;
            }

            .messgs {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.65);
                border-radius: 2px;
                list-style: none;
                position: absolute;
                top: 120%;
                right: -40px;
                background-color: white;
                width: 15rem;
                display: none;
                transition: transform .3s ease-in-out;

                li {
                    width: 100%;
                    padding: 1rem;
                    cursor: pointer;
                    background-color: white;

                    &:hover {
                        background-color: rgba(211, 205, 205, 0.795);
                    }
                }

                .pointer {
                    position: absolute;
                    rotate: 45deg;
                    top: -10px;
                    right: 15%;
                    background-color: white;
                    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
                    z-index: -1;
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .sellButton {
            cursor: pointer;
            border-radius: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                border-radius: 30px;
            }
        }

        .loginPage {
            display: flex;
            align-items: center;
            gap: 7.5px;
            outline: .2px solid rgb(199, 197, 197);
            border-radius: 5px;
            padding: 2.5px 7.5px;
            position: relative;
            cursor: pointer;

            &.active {
                background-color: #6f9ca146;

                .ProfileOptions {
                    display: unset;
                }

                .fa-angle-down {
                    transform: rotate(180deg);
                }
            }

            .fa-angle-down {
                transition: transform ease-in-out .3s;
            }

            .profile-box {
                display: flex;
                align-items: center;
                gap: 5px;
                cursor: pointer;

                h3 {
                    text-decoration: none;
                    color: white;
                    background-color: #002b30;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #014b53;
                    }
                }

                .fa-angle-down {
                    transition: transform ease-in-out .3s;
                }
            }

            span {
                cursor: pointer;
                width: max-content;
            }
        }

        .logoutPage {
            a {
                font-weight: bold;
                text-decoration: none;
                color: rgb(122, 98, 98);
                cursor: pointer;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

}


// MEDIA-QUERIRES RESPONSIVENESS
@media only screen and (max-width: 767px) {
    .Header {
        position: absolute;
        padding: 15px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 0.5rem;
        border-bottom: .5px solid #002b30;

        &.fixed {
            position: fixed;
        }

        &.active {
            .logo {
                position: fixed;

                .fa-bars {
                    transform: rotate(90deg) scale(1.2);
                    background-color: #002b309d;
                    color: white;
                }
            }

            .ProfileOptions.mobile {
                transform: translateX(0);
            }
        }

        .logo {
            grid-area: 1/1/2/2;

            .fa-bars {
                display: block;
                margin-right: 10px;
                transition: transform .3s ease-in-out;
                padding: 5px;
                border-radius: 2.5px;

                &.active {
                    transform: rotate(90deg);
                }
            }
        }

        .placeSearch {
            grid-area: 1/2/2/6;
        }

        .productSearch {
            grid-area: 2/1/3/5;
        }

        .right-section {
            grid-area: 2/5/3/6;
            justify-content: center;

            i.fa-heart {
                transform: scale(1.5);
                outline: 2px solid #002b30;
                padding: 2.5px;
                border-radius: 2.5px;
            }

            i.fa-comment-dots,
            .language,
            .notifications,
            .loginPage {
                transform: scale(1.5);
                display: none;
            }

            .sellButton {
                position: fixed;
                bottom: 2.5rem;
                left: 50%;
                transform: translateX(-50%);
                outline: .5px solid rgb(158, 151, 151);
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .Header {
        padding: 10px 15px;
        grid-template-columns: .5fr 3fr 6fr;
        grid-template-rows: 1fr 1fr;
        gap: .5rem;
        border-bottom: .5px solid #002b30;

        .logo {
            grid-area: 1/1/2/2;
        }

        .placeSearch {
            grid-area: 1/2/2/3;
        }

        .productSearch {
            grid-area: 1/3/2/4;
        }

        .right-section {
            grid-area: 2/3/3/4;
            flex-direction: row-reverse;
            gap: 0;

            .sellMenu {
                margin-right: 10px;
            }
        }
    }
}